
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to "index" classNames="navbar-brand"}}ember-meen{{/link-to}}
    </div>
    <div id="navbar" class="navbar-collapse collapse">

      <ul class="nav navbar-nav">
        {{#if session.isAuthenticated}}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Articles<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>{{#link-to 'articles'}}List Articles{{/link-to}}</li>
              <li>{{#link-to 'articles.new'}}New Articles{{/link-to}}</li>
            </ul>
          </li>
        {{/if}}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {{#if session.isAuthenticated}}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{session.user.displayName}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>{{#link-to 'settings.profile'}}Edit Profile{{/link-to}}</li>
              <li><a href="#">Manage Social Accounts</a></li>
              <li>{{#link-to 'settings.password'}}Change Passwort{{/link-to}}</li>
              <li class="divider"></li>
              <li><a {{ action 'invalidateSession'}} href="#">Logout</a></li>
            </ul>
          </li>
        {{else}}
          <li>{{#link-to "signup"}}Sign Up{{/link-to}}</li>
          <li>{{#link-to "signin"}}Sign In{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
<div class="container">
{{outlet}}
</div>

